<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Backbone App</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
    <nav class="container">
        About | Admin
    </nav>
   <div class="container text-center">
       <br/>
        <h1>BlueBox App</h1>
       <hr>
        <section id="todoapp">
            <h1>test</h1>
            <header id="header">
                <h1>todos</h1>
                <input id="new-todo" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
    </div>



    <footer>
        <div class="container text-center">
            <p>BlueBox App - 2016</p>
            <p>Rattanak Chea</p>
        </div>
    </footer>



    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%=c ompleted ? 'checked' : '' %>>
            <label>
                <%= title %>
            </label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="<%= title %>">
    </script>
    <script type="text/template" id="stats-template">
        <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
        <ul id="filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <% if (completed) { %>
            <button id="clear-completed">Clear completed (
                <%= completed %>)</button>
            <% } %>
    </script>

    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/underscore/underscore.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/backbone/backbone.js"></script>
    <script src="libs/backbone-localstorage/backbone-localstorage.js"></script>

    <script src="js/main.js"></script>
    <script src="js/models/todo.js"></script>
    <script src="js/collections/todos.js"></script>
    <script src="js/views/app.js"></script>

</body>

</html>
